{# This inherrites from /app/Resources/views/base.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}CoVE{% endblock %}

{% block h1 %}CoVE{% endblock %}

{% block body %}

    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}

    <ul>
        <li>Process status: {{ status }}</li>
        <li>StdErr: {{ err }}</li>
        <li><a href="{{ path('download_file', { 'fileid': id }) }}">XML</a></li>
    </ul>

{% endblock %}