{# This inherrites from /app/Resources/views/base.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Tool POCs{% endblock %}

{% block h1 %}Page Title{% endblock %}

{% block body %}

    <table border="1">
        <tr>
            <th>File</th><th>Process with ...</th><th>Download ...</th>
        </tr>
        <tr>
            {% for id, file in files %}
            <tr>
                <td>{{ file['file'] }}</td>
                <td><a href="{{ path('app_cove', { 'fileid': id } ) }}">CoVE</a></td>
                <td>
                    {% if file['xml'] is defined %}
                        <a href="{{ path('download_file', { 'fileid': id }) }}">XML</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tr>
    </table>

{% endblock %}