{# This inherrites from /app/Resources/views/base.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Tool POCs{% endblock %}

{% block h1 %}Page Title{% endblock %}

{% block body %}

    <table border="1">
        <tr>
            <th>File</th><th>Process with ...</th><th>Download ...</th><th>Visualise ...</th>
        </tr>
        {% for id, file in files %}
            <tr>
                <td>{{ file['file'] }}</td>
                <td><a href="{{ path('app_cove', { 'fileid': id } ) }}">CoVE</a></td>
                <td>
                    {% if file['xml'] is defined %}
                        <a href="{{ path('download_file', { 'fileid': id }) }}">XML</a>
                    </td><td>
                        <a href="{{ path('app_dportal', { 'fileid': id }) }}">D-Portal</a>
                    {% else %}
                    </td><td>
                    {% endif %}
                </td>
            </tr>

            {% endfor %}
    </table>

{% endblock %}