{% extends 'OagBundle::Default/index.html.twig' %}

{% block title %}Upload{% endblock %}

{% block h1 %}Upload{% endblock %}

{% block body %}

    <h2>Upload new file</h2>

    <div>
        {% if form is defined and form is not null %}
            {{ form_start(form) }}
            <div>
                {{ form_row(form.documentName) }}
            </div>
            <div>
                {{ form_row(form.submit, { 'label': 'Upload' }) }}
            </div>
            {{ form_end(form) }}

        {% else %}
            NO FORM
        {% endif %}
    </div>

{% endblock %}